/* You can add global styles to this file, and also import other style files */

.back{
    background-image: url("http://www.allwhitebackground.com/images/5/Blue-Texture-Background-Pics.jpg");
    background-repeat: no-repeat;
    background-color: lightblue;
}